In [1]:
import numpy as np
import pandas as pd
songs=pd.read_csv('final_songs.csv')

In [2]:
songs.head()

,Unnamed: 0,Unnamed: 0.1,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
0,0,1,NV9HhUzyK50tGvxb3w0PdZoaw3Ypp86XDmmMr0vgFdg=,262749,['139'],['John Legend'],['John Stephens'],['John Stephens'],52.0
1,1,2,igUq5ErBzlm2Wi05YsoiyWdxd4wbHGPaFOS8kQFhoik=,228717,['465'],['Urban Zakapa'],"['Gwon Soonil', ' Park Yongin', ' Choi JaeMan'...","['Gwon Soonil', ' Park Yongin', ' Choi JaeMan'...",31.0
2,2,3,UfK2UdQAaYF6IJUXqSJ10FsbAF3YkvMJYcTYC2Ec5m4=,222649,['1609'],['Calvin Harris'],['Calvin Harris'],['Calvin Harris'],52.0
3,3,4,nO+tjL6/qHgNO/ui0TjeP+nSsD+aoGcT9AHU7Dtrzsc=,227327,['880'],['Casting Crowns'],"['Mark Hall', 'Matt Maher', 'John Mabe', 'Blak...","['Mark Hall', 'Matt Maher', 'John Mabe', 'Blak...",52.0
4,4,5,ZxB4Y6OFY7oArWVqRWofM3g714CWrHbY4ohABjzGLFE=,256052,['1609'],['Robin Schulz'],"['Dennis Bierbrodt', ' Guido Kramer', ' Robin ...","['Dennis Bierbrodt', ' Guido Kramer', ' Robin ...",52.0

In [3]:
artistlist=songs['artist_name']
b=[]
for i,j in enumerate(artistlist):
    x=j[1:-1].split(', ')
    b.insert(i,x)
blist = [item for sublist in b for item in sublist]
artist=np.unique(np.array(blist))
pd.DataFrame(artist).to_csv('Artist.csv')

In [7]:
composerlist=songs['composer']
b=[]
for i,j in enumerate(composerlist):
    x=j[1:-1].split(', ')
    b.insert(i,x)
blist = [item for sublist in b for item in sublist]
composer=np.unique(np.array(blist))
pd.DataFrame(composer).to_csv('Composer.csv')

In [8]:
genrelist=songs['genre_ids']
b=[]
for i,j in enumerate(genrelist):
    x=j[1:-1].split(', ')
    b.insert(i,x)
blist = [item for sublist in b for item in sublist]
genre=np.unique(np.array(blist))
pd.DataFrame(genre).to_csv('Genre.csv')

In [11]:
pd.DataFrame(np.unique(np.array(songs['language']))).to_csv('Language.csv')

array([-1.,  3., 17., 24., 31., 45., 52., 59.])

In [12]:
user=pd.read_csv('final_users.csv')
user.head()

,Unnamed: 0,Unnamed: 0.1,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,1,10,GoFYKhcq8Q5Gjz1M5L0azHZOhcY+Za/T7fRqIGgBuYA=,12,28,male,9,20060531,20170816
1,3,15,vUzJAyFEudsnkWwfcLIKT5mJAV+uVRTW2uajCrghFwI=,13,20,male,3,20140410,20170427
2,6,28,ox62m0QICnrFa8/ZM5jJ5WBidWIieREUjUdCiWExLSU=,6,26,female,7,20140118,20170917
3,7,29,95tnnY+Zq8f4jpk5SaDWcmnngD9dFe/OwxAqhss6T8k=,4,25,female,3,20150624,20150701
4,8,30,Der2/cdVesg2+u1UZX/u11dZBM/FWtNl1TlKIK82puw=,11,21,female,9,20140817,20171231

In [13]:
pd.DataFrame(np.unique(np.array(user['city']))).to_csv('City.csv')
pd.DataFrame(np.unique(np.array(user['bd']))).to_csv('Age.csv')
pd.DataFrame(np.unique(np.array(user['gender']))).to_csv('Gender.csv')